
@model TextInputModel
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers

@if (!string.IsNullOrEmpty(Model.PreviousPageName))
{
    <a class="govuk-back-link" id="BackButton" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@Model.PreviousPageName">
        Back
    </a>
}

<span class="govuk-caption-l">Question @Model.QuestionNumber of @Model.TotalQuestions</span>

<form asp-action="save" asp-route-pagename="@Model.PageName" method="post" enctype="multipart/form-data">

    <input type="hidden" name="PageName" value="@Model.PageName" />
    <input type="hidden" name="Kind" value="@nameof(TextInputModel)" />

    @Html.Partial("_ErrorMessage")

<div class="govuk-form-group  @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
    <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
            @if (string.IsNullOrEmpty(Model.TitleQuestion))
            {
                @Model.Question

            }
            else
            {
                @Model.TitleQuestion
            }
        </label>
    </h1>
    @Html.Partial("_Hint", Model.Hint)
    <span asp-validation-for="@Model.DataInput" class="govuk-error-message"></span>
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What is your organisation's registered address?
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
                Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
                <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
                Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="address-county">
                County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>

        <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
                Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
        </div>

    </fieldset>
</div>


    @Html.Partial("_Accordion", "")

    @if (Model.ShowMarkAsComplete)
    {
        @Html.Partial("_MarkAsComplete", Model)
    }

    @Html.Partial("_SaveContinue", Model.ContinueButtonText)

</form>

<a href="@Model.SectionUrl" id="returnToSummaryView">@Model.ReturnToSummaryPageLinkText</a>
